.ortala{
    text-align:center;
    margin-left:auto;margin-right:auto;
}
.yazi_boyutu{
    width: 50px;
    padding-bottom: 0cqmax;
}
.kirmizi_renk{
    color: red;
}
h1{
    font-size: 70px;
}
.gri{
    color: darkgray;
}
.KOYU_SIYAH{
    color: black;
}
.buyuk_boy{
    font-size: 60px;
}
.italic{
    font-style: italic;
}
.yazi_orta{
    text-align:center;
    
}